version: '3.7'

services:
  server:
    build:
      context: ./apps/OpenSignServer
      dockerfile: Dockerfile
    image: opensignserver-image
    container_name: OpenSignServer-container
    command: /usr/src/app/node_modules/.bin/nodemon server.js
    volumes:
      - ./apps/OpenSignServer/:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    env_file: .env
    environment:
      - NODE_ENV=development
    networks:
      - app-network
  mongo:
    build:
      context: ./apps/mongo
      dockerfile: Dockerfile
    container_name: mongo-container
    image: opensign-mongo
    volumes:
      - data-volume:/data/db
    ports:
      - "27018:27017"
    networks:
      - app-network
  client:
    build:
      context: ./apps/OpenSign
      dockerfile: Dockerfile
    image: opensign-image
    container_name: OpenSign-container
    command: npm start
    env_file: .env
    volumes:
      - ./apps/OpenSign/:/usr/app
      - /usr/app/node_modules
    depends_on:
      - server
    ports:
      - "3000:3000"
    networks:
      - app-network

networks:
    app-network:
        driver: bridge

volumes:
    data-volume:
    node_modules:
    web-root:
      driver: local
