---
openapi: 3.0.3
info:
  title: OpenSign API v1
  description: "This is API documentation for OpenSign API v1 based on the OpenAPI 3.1 specification. \n\nSome useful links:\n- [Official Website](https://www.opensignlabs.com)\n- [Github repo](https://github.com/opensignlabs/opensign)"
  termsOfService: http://www.opensignlabs.com/terms/
  contact:
    email: contact@opensignlabs.com
  license:
    name: AGPL 3.0
    url: http://github.com/opensignlabs/opensign/LICENSE
  version: 1.0.0
externalDocs:
  description: Find out more about OpenSign
  url: http://docs.opensignlabs.com
servers:
- url: https://app.opensignlabs.com/api/v1
tags:
- name: OpenSign
  description: OpenSource DocuSign alternative
  externalDocs:
    description: Find out more
    url: http://www.opensignlabs.com
- name: Github repo
  description: Access the source code
  externalDocs:
    description: Visit github
    url: http://github.com/opensignlabs/opensign
- name: user
  description: Operations about user
- name: contacts
  description: Operations about contacts
- name: documents
  description: Operations about documents
- name: templates
  description: Operations about templates
paths:
  /getuser:
    get:
      tags:
      - user
      summary: Get your details
      operationId: getUser
      parameters:
      - name: x-api-token
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'
            application/xml:
              schema:
                $ref: '#/components/schemas/Pet'
        "405":
          description: Invalid API Token!
        "404":
          description: Record not found!
      security:
      - api_key: []
  /createuser:
    post:
      tags:
      - users
      summary: Add a new pet to the store
      description: Add a new pet to the store
      operationId: addPet
      parameters:
      - name: x-api-token
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Create a new pet in the store
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pet'
          application/xml:
            schema:
              $ref: '#/components/schemas/Pet'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Pet'
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'
            application/xml:
              schema:
                $ref: '#/components/schemas/Pet'
        "405":
          description: Invalid input
      security:
      - api_key: []
  /createcontact:
    post:
      tags:
      - contacts
      summary: Create contact
      operationId: createcontact
      parameters:
      - name: x-api-token
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: provide below parameter to create contact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createcontact_body'
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contactdetails'
        "404":
          description: "Something went wrong, please try again later!"
        "405":
          description: Invalid API Token!
      security:
      - api_key: []
  /contact/{contact_id}:
    get:
      tags:
      - contacts
      summary: Get contact
      description: get a contact
      operationId: getcontact
      parameters:
      - name: x-api-token
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: contact_id
        in: path
        description: objectId of contact
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
          example: pH1bhc2hpb
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contactdetails'
        "404":
          description: Contact not found!
        "405":
          description: Invalid API Token!
      security:
      - api_key: []
    delete:
      tags:
      - contacts
      summary: Deletes contact
      description: delete a contact
      operationId: deletecontact
      parameters:
      - name: x-api-token
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: contact_id
        in: path
        description: Provide objectId of contact to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
          example: ph2bh2asd
      responses:
        "200":
          description: Contact deleted successfully!
        "404":
          description: Contact not found!
        "405":
          description: Invalid API Token!
      security:
      - api_key: []
  /contactlist:
    post:
      tags:
      - contacts
      summary: Get contact list
      description: ""
      operationId: contactlist
      parameters:
      - name: x-api-token
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/listbody'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "404":
          description: Report is not available!
        "405":
          description: Invalid API Token!
      security:
      - api_key: []
  /createdocument:
    post:
      tags:
      - documents
      summary: Create document
      operationId: createdocument
      parameters:
      - name: x-api-token
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Document created successfully!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "405":
          description: Invalid API Token!
      security:
      - api_key: []
  /document/{document_id}:
    get:
      tags:
      - documents
      summary: Get document by ID
      description: Get a document
      operationId: getdocument
      parameters:
      - name: x-api-token
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: document_id
        in: path
        description: objectId of contact
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
          example: pH1bhc2hpb
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pet'
        "404":
          description: Document not found!
        "405":
          description: Invalid API Token!
      security:
      - api_key: []
    delete:
      tags:
      - contacts
      summary: Delete document by ID
      description: delete a document
      operationId: deletedocument
      parameters:
      - name: x-api-token
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: document_id
        in: path
        description: Provide objectId of document to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: string
          example: ph2bh2asd
      responses:
        "200":
          description: Contact deleted successfully!
        "404":
          description: Contact not found!
        "405":
          description: Invalid API Token!
      security:
      - api_key: []
  /documentlist:
    post:
      tags:
      - documents
      summary: Get document list
      description: Get document list
      operationId: getdocumentlist
      parameters:
      - name: x-api-token
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/listbody'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "404":
          description: Report is not available!
        "405":
          description: Invalid API Token!
      security:
      - api_key: []
  /createtemplate:
    post:
      tags:
      - templates
      summary: Create template
      description: "The Template Creation API allows users to create customizable templates, which serve as blueprints for generating documents with predefined structures. Upon successful template creation, the API returns a unique **templateId** that can be used to generate documents based on the specified template."
      operationId: createtemplate
      parameters:
      - name: x-api-token
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createtemplate'
      responses:
        "200":
          description: Template created successfully!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTemplateResponse'
        "405":
          description: Invalid API Token!
  /template/{template_id}:
    get:
      tags:
      - templates
      summary: Get template by ID
      description: ""
      operationId: getTemplate
      parameters:
      - name: x-api-token
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: template_id
        in: path
        description: ID of template that needs to be fetched
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: strng
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createtemplate'
        "404":
          description: Template not found!
        "405":
          description: Invalid API Token!'
    put:
      tags:
      - templates
      summary: Update template by ID
      operationId: updateTemplate
      parameters:
      - name: x-api-token
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: template_id
        in: path
        description: ID of the order that needs to be updated
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        description: provide below parameter to update templates (at least one parameter required)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/template_template_id_body'
      responses:
        "400":
          description: Invalid ID supplied
        "404":
          description: Order not found
    delete:
      tags:
      - templates
      summary: Delete template by ID
      operationId: deleteTemplate
      parameters:
      - name: x-api-token
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: template_id
        in: path
        description: ID of the template that needs to be deleted
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "400":
          description: Invalid ID supplied
        "404":
          description: Order not found
  /templatelist:
    post:
      tags:
      - templates
      summary: Get template list
      operationId: gettemplatelist
      parameters:
      - name: x-api-token
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/listbody'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template'
        "404":
          description: Report is not available!
        "405":
          description: Invalid API Token!
components:
  schemas:
    createtemplate:
      type: object
      properties:
        Name:
          type: string
          format: string
          example: sample template
        Note:
          type: string
          format: string
          example: Please review and sign this document
        Description:
          type: string
          format: string
          example: template description
        URL:
          type: string
          format: string
          example: https://yourimage.com
        signers:
          type: array
          example:
          - joe@gmail.com
          - john@gmail.com
          xml:
            name: signers
            wrapped: true
          items:
            $ref: '#/components/schemas/signers'
        folderId:
          type: string
          format: string
          example: xjsba1GaxP
      xml:
        name: createtemplate
    createTemplateResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
      xml:
        name: '##default'
    template:
      type: object
      properties:
        id:
          type: string
          format: string
          example: x1Hbnms2Pg
        URL:
          type: string
          example: https://templateuser.com
        Name:
          type: string
          example: sample template
        Note:
          type: string
          example: template note
        Description:
          type: string
          example: template name
        Folder:
          type: string
          example: folder name
        Signers:
          type: array
          items:
            $ref: '#/components/schemas/template_Signers'
        CreateBy:
          type: string
          example: template creator name
      xml:
        name: template
    listbody:
      type: object
      properties:
        limit:
          type: integer
          format: int32
          example: 10
        skip:
          type: integer
          format: int32
          example: 0
      xml:
        name: listbody
    contactdetails:
      type: object
      properties:
        objectId:
          type: string
          format: string
          example: ph1bhx2jp
        Name:
          type: string
          format: string
          example: joe bee
        Email:
          type: string
          format: string
          example: joebee@example.com
        Phone:
          type: string
          format: string
          example: "4131231231"
      xml:
        name: contactdetails
    signers:
      type: string
      example: joe@example.com
      xml:
        name: signers
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Dogs
      xml:
        name: category
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        username:
          type: string
          example: theUser
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: James
        email:
          type: string
          example: john@email.com
        password:
          type: string
          example: "12345"
        phone:
          type: string
          example: "12345"
        userStatus:
          type: integer
          description: User Status
          format: int32
          example: 1
      xml:
        name: user
    Tag:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: tag
    Pet:
      required:
      - name
      - photoUrls
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        name:
          type: string
          example: doggie
        category:
          $ref: '#/components/schemas/Category'
        photoUrls:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: photoUrl
        tags:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/Tag'
        status:
          type: string
          description: pet status in the store
          enum:
          - available
          - pending
          - sold
      xml:
        name: pet
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
      xml:
        name: '##default'
    createcontact_body:
      type: object
      properties:
        Name:
          type: string
          format: string
          example: joe bee
        Email:
          type: string
          format: string
          example: joebee@example.com
        Phone:
          type: string
          format: string
          example: "1232131321"
    inline_response_200:
      type: object
      properties:
        id:
          type: string
          format: string
          example: hji2zxcv2P
        url:
          type: string
          format: string
          example: https://example.com
    template_template_id_body:
      type: object
      properties:
        Name:
          type: string
          format: string
          example: sample template
        Note:
          type: string
          format: string
          example: Please review and sign this document
        Description:
          type: string
          format: string
          example: template description
        FolderId:
          type: string
          format: string
          example: xjsba1GaxP
    template_Signers:
      type: object
      properties:
        objectId:
          type: integer
          format: int64
        Name:
          type: string
          example: joe
  requestBodies:
    Pet:
      description: Pet object that needs to be added to the store
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Pet'
        application/xml:
          schema:
            $ref: '#/components/schemas/Pet'
    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/User'
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-token
      in: header
