.parentDiv {
    width: 100%;
    height: 100%;
    background: gray;
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.childDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    margin:30px 20px;
    border: 0px 1px 1px 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
}

.modalHeadDiv {
    padding: 10px;
    color: #fff;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    font-size: 17px;
    font-weight: 500;
}

.modalBodyDIv {
    padding: 20px;
}

.spanTagHead {
    color: white !important;
    font-size: 17px;
    font-weight: 500;
}

.pTagBody {

    font-size: 15px !important;
}
.modalFooterDiv{
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width:500px) {
    .childDiv {
        margin: 50px 7px;
        width: 90%;
    }
}