.addSignerBtn{
    padding: 10px;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #47a3ad;
    margin: 1px;
    color: #47a3ad;
    cursor: pointer
}
.addSignerBtn:hover{
    background: #47a3ad;
    color: #ffffff;
}
