.loginInput{
  padding: 10px;

  border-radius: 4px;
  width: 100%;
  font-size: 0.75rem;
 border: 1px solid #e2dddd;;
  background-color: #e0e5f5;
     color: black;
    
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    padding-top: 0.5rem!important;
    
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-weight: inherit;
    overflow: visible;
    
 }
 .loginInput:focus{
  outline: none;
  border: none;
 }
.verifyBtn{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
  padding: 3px 30px;
  color: white;
  font-weight: 500 !important;
  font-size: 14px !important;
  border: none;
}
.verifyBtn:focus {
  border: none;
  outline: none;
}


.verifyBtn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.18);
  color: white;
}
.fakeimg {
  height: 200px;
  background: #aaa;
}

.GTRY {
  border: 1px solid #dee2e6;
  margin-top: 75px;
  padding-bottom: 20px;
  background-color: #fff;
}

.main_head {
  width: 100%;
  height: 66px;
  background-color: #fff;
  margin-bottom: 52px;
  padding-top: 10px;
}

.main-logo {
  width: 250px;
  height: 66px;
  display: inline-block;
}

.card-box {
  background: #fff;
  min-height: 50px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 20px;
  transition: 0.5s;
  border: 1px solid #f2f2f2;
  border-radius: 7px;
  margin-top: 10px;
}

.LKJH {
  display: flex;
}

.GTR {
  text-align: left;
}

.JUI {
  text-align: right;
}

.btn-info {
  color: #fff;
  background-color: #15b4e9;
  border-color: #15b4e9;
}

.btn-info:hover {
  color: #fff;
  background-color: #15b4e9;
  border-color: #15b4e9;
}

.btn-reg {
  color: #15b4e9;
  background-color: #ffffff;
  border-color: #15b4e9;
}

.btn-reg:hover {
  color: #15b4e9;
  background-color: #ffffff;
  border-color: #15b4e9;
}

.SYTU {
  display: flex;
}

.MLKI {
  float: right;
  margin-bottom: 12px;
}


.login-btn {
  width: 100% !important;
  display: block !important;
}

@media only screen and (max-width: 667px) {
  .MLKI {
    float: inherit;
  }


  .login-btn {
    width: 210px !important;
  }
}

.MLKI a {
  color: #212529;
}

.KNLO {
  color: #878787;
  font-size: 13px;
}

.form-check-label {
  margin-left: 17px;
  margin-bottom: 12px;
}
.welcomeText{
  font-size: 30px;
}
 

@media only screen and (max-width: 600px) {
  .KLO1 {
    display: none;
  }

  .MLKI a {
    font-size: 12px;
  }

  .form-check-label {
    font-size: 12px;
    margin-bottom: 14px;
  }

  .MKUY {
    text-align: center;
    padding-top: 10px;
  }

  .main_head {
    margin-bottom: 12px;
    padding-top: 10px;
    border-bottom: 1px dashed #eeeeee;
  }



}
@media screen and (max-width:366px) {

  .main-logo {
    width: 150px;
    height: 46px;
    display: inline-block;
  }
  .welcomeText{
    font-size: 20px;
  }
  .KNLO {
    color: #878787;
    font-size: 10px;
  }
  .btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}