.mainDiv {
    position: relative;
}

.successBtn {
    background: #3ac9d6;
    border: 1px solid #3ac9d6;
}

.warning {
    position: absolute;
    padding: 8px;
    border: 1px solid black;
    background: white;
    width: 300px;
    border-radius: 5px;
    animation: inAnimation 2s ease-in-out;
    z-index: 1;
}

.nameWarning {
    position: absolute;
    bottom: -70px;
    left: 10px;
}

.nameWarning::before {
    content: '';
    width: 0px;
    height: 0px;
    border-style: outset;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent black transparent;
    display: inline-block;
    position: absolute;
    top: -29%;
    left: 0;
    right: 75%;
    margin: 0 auto;
}

.signWarning {
    bottom: 70px;
    left: 50px;
}

.signWarning::before {
    content: '';
    width: 0px;
    height: 0px;
    border-style: outset;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent black transparent;
    display: inline-block;
    position: absolute;
    top: -29%;
    left: 0;
    right: 75%;
    margin: 0 auto;
}

.successBox {
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    animation: inAnimation 2s ease-in-out;
}

@keyframes inAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    25% {
        opacity: 1;
        visibility: visible;
    }

    50% {
        opacity: 1;
        visibility: visible;
    }

    75% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.signature {
    color: white;
    cursor: pointer;
    padding: 10px 14px 10px;
    background: #15b4e9;
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
}

.signature:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.18);
    background: #13a8da;
    color: white;
}

.imgupload {
    color: white;
    cursor: pointer;
    padding: 10px 14px 10px;
    background: #15b4e9;
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
    min-width: 105px;
}

.imgupload:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.18);
    background: #13a8da;
    color: white;
}


.loaderContainer {
    position: fixed;
    inset: 0%;
    width: 100%;
    height: 100svh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 70px;
    height: 70px;
    border-top: 4px solid #1b8ef4;
    border-left: 4px solid #1b8ef4;
    border-radius: 80%;
    animation: spin 0.5s linear infinite;

}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.customBtn {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
    padding: 10px 14px 10px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 2px;
    margin-left: 10px;
    width: 100px;
}

.clearbtn {
    font-size: 15px;
}

.clearbtn:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: blue;
}

.successBtn:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.18);
    background: #1ab6ce;
    color: white;

}

.resetBtn {
    background: #188ae2;
    margin-left: 10;
    border: 1px solid #188ae2;
}

.resetBtn:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.18);
    background: #177ecd;
    color: white;
}

.signBlock {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.signInputManage{
    width: 50%;
}
@media (max-width: 815px) {
    .signBlock {
        display: flex;
        flex-direction: column;

    }
    .signInputManage{
        width: 100%;
    }
}
 